
<!-- FOOTER -->

<footer class=" text-center " style="background-color:#1a1d29;">
    <!-- Grid container -->
    <div class="container p-4">
  
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1 btn-lg" style="background-color: #333333" href="https://github.com/Juandurdaneta" role="button"><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
  
  
  
      <!-- Section: Text -->
      <section class="mb-4">
        <h2 class="mb-4">Music <i class="fas fa-plus fa-sm"></i></h2>
      </section>
    
  
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Derechos reservados Juan Urdaneta
    </div>
    <!-- Copyright -->
  
  </footer>
 
<!-- FIN FOOTER -->

<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
</body>
</html>