<%- include("partials/header");  %> 
    <!-- BARRA DE NAVEGACION -->
    <header>
    <nav class="navbar fixed-top" style="z-index: 2000;">
        <div class="container-fluid">

          <h2>Music<i class="fas fa-plus fa-sm"></i></h2>
          <div class="ms-auto">
            <a class="btn btn-outline-light btn-inicio btn-iniciar-sesion" href="login">Iniciar Sesión</a>
        </div>
        </div>
      </nav> 
    </header>

<!-- FIN BARRA DE NAVEGACION -->

<!-- PORTADA -->
  <!-- Background image -->
  <div id="intro" class="bg-image vh-100 shadow-1-strong">
    <video style="min-width: 100%; min-height: 100%;" playsinline autoplay muted loop>
      <source class="h-100"
        src="https://storage.coverr.co/videos/dIvif89v3o011pgRLwQBOfvOQLnscdnEW?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjI0MzE3NDc2fQ.yVhPdnd7GVPl5BvaEeGA9LnTKGT-WfxA5vENPVp-b-0"
        type="video/mp4"
      />
    </video>
    <div class="mask" style="
          background: #040714bb;
        ">
      <div class="container-fluid d-flex align-items-center justify-content-start text-start h-100">
        <div class="text-white main-text">
            <h2 class="mb-4">Music<i class="fas fa-plus fa-sm"></i></h2>
          <h1 class="mb-4">Toda la mejor musica,<br>en un mismo lugar.</h1>
          <a class="btn btn-primary btn-inicio btn-registro mb-4" href="register">Unete ahora</a>
        </div>
      </div>
    </div>
  </div>
<!-- FIN PORTADA -->

<!-- SECCION NUEVOS LANZAMIENTOS -->

<section id="nuevosLanzamientos" class="cuerpoInicio">

    <div class="container text-center">
                <h1>Disfruta de nuevos<br> lanzamientos</h1>
            <div class="row lanzamientos">
                <div class="col-lg-4 col-6 album">
                    <img src="https://t2.genius.com/unsafe/725x0/https%3A%2F%2Fimages.genius.com%2Fc9cd454fad021ccad858fc703d3dbc6d.1000x1000x1.png" alt="" class="albumCover">
                </div>
                <div class="col-lg-4 col-6 album">
                    <img src="https://t2.genius.com/unsafe/725x0/https%3A%2F%2Fimages.genius.com%2F439279ef55cbef2bad0530aecda4f9d8.1000x1000x1.png" alt="" class="albumCover">
                </div> 
                <div class="col-lg-4 col-6 album">
                    <img src="https://t2.genius.com/unsafe/725x0/https%3A%2F%2Fimages.genius.com%2Feae7745edb096f44cccfd9123e52a4f1.1000x1000x1.png" alt="" class="albumCover">
                </div> 
                <div class="col-lg-4 col-6 album">
                    <img src="https://t2.genius.com/unsafe/725x0/https%3A%2F%2Fimages.genius.com%2F92fe61edad0376f8f51e5f839be31465.1000x1000x1.png" alt="" class="albumCover">
                </div> 
                <div class="col-lg-4 col-6 album">
                    <img src="https://t2.genius.com/unsafe/725x0/https%3A%2F%2Fimages.genius.com%2Fb826bffa6a542a466c2143f4702b9f25.1000x1000x1.png" alt="" class="albumCover">
                </div> 
                <div class="col-lg-4 col-6 album">
                    <img src="https://t2.genius.com/unsafe/725x0/https%3A%2F%2Fimages.genius.com%2F9d35a5dff10090e6c1d5e077932cea99.1000x1000x1.jpg" alt="" class="albumCover">
                </div>

            </div>
    </div>

</section>

<!-- FIN SECCION NUEVOS LANZAMIENTOS -->

 <!-- SECCION CARACTERISTICAS -->

<section id="caracteristicas" class="cuerpoInicio">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 texto-promocion">
                <h1>Crea y Comparte Playlists</h1>
                <p>Crea listas de reproducciones y compartelas con tus amigos. Escucha tu musica cuando quieras y donde quieras. </p>
            </div>
            <div class="col-lg-6 align-content-end">

                <img class="img-fluid" src="https://images.unsplash.com/photo-1453090927415-5f45085b65c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1631&q=80" alt="" srcset="">

            </div>
        </div>


    </div>
</section>

 <!-- FIN SECCION CARACTERISTICAS -->
 

 <%- include("partials/footer");  %>
