<%- include("partials/header"); %>
<%- include("partials/navbar"); %>

<section id="Playlist" class="cuerpoInicio fullPage">

    <h1><%= playlist.nombre %></h1>


</section>


<%- include("partials/footer"); %>
