<%- include("partials/header");  %> 
<section class="cuerpoInicio loginRegister">

    <div class="container-fluid text-center">
        <a href="login" id="inicioSesionRed">Iniciar sesi칩n</a>
        <!-- LOGO -->
        <div class="row">
            <div class="col-12 logo">
                <h1> <a href="/">Music <i class="fa fa-plus" aria-hidden="true"></i></a> </h1>
            </div>
        <!-- FIN LOGO -->
 </div>
        <!--FORMULARIO DE REGISTRO-->
        <div class="row justify-content-center ">
        <div class="col-xl-5 col-md-8">
        <%= UsuarioAgregado %> 
        <form class="p-4 text-start form-registro formulario" action="register" method="post">
            <p>Paso 1 de 3</p>
            <h4>Escribe tu correo electronico</h4>
            <div>
                <input type="email" class="form-control p-2" placeholder="Correo electr칩nico" name = "mail" id="mail"/>
            </div>
            <br>
            <p>Paso 2 de 3</p>
            <h4>Escribe tu nombre de usuario</h4>
            <div>
                <input type="text" class="form-control p-2" placeholder="Nombre de usuario" name="username"/>
            </div>
            <br>
            <p>Paso 3 de 3</p>
            <h4>Crea una contrase침a</h4>
            <div>
                <input type="password" class="form-control p-2" placeholder="Contrase침a" name="pass"/>
            </div>
            <br>
            <button type="submit" class="btn btn-block btn-primary">Crear cuenta</button>  
        </form>
      </div>
        <!--FIN FORMULARIO DE REGISTRO-->

</div>
</div>
       


</section>
<%- include("partials/footer");  %>
